.body{
    position: absolute;
    width: 550px;
    height: 550px;
    left: 0px;
    top: 0px;
    
    background: #FBF7EE;
}

.top{
position: absolute;
width: 550px;
height: 260px;
left: 0px;
top: 0px;

background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

.bottom{
position: absolute;
width: 346px;
height: 215px;
left: 102px;
top: 297px;
}

h2{
    position: absolute;
width: 448.4px;
height: 38px;
left: 51px;
top: 53px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 38px;
/* identical to box height, or 173% */

text-align: center;
letter-spacing: -0.05em;

color: #FFFFFF;
}

#feed{
    position: absolute;
width: 211px;
height: 51.23px;
left: 169px;
top: 155px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 57.5723px;
line-height: 25%;
/* or 25% */

text-align: center;

color: #FFFFFF;
background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}


p{

/* text-sm/leading-5/font-normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #4E4E4E;
}

h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #1A1921;
}